<!DOCTYPE html>
<html>
<head>
	<title>OAI-PMH</title>
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" ></script>
</head>
<body>
<!-- As a link -->
<nav class="navbar navbar-inverse bg-faded">
  <a class="navbar-brand" href="/">OAI-PMH API's</a>
  <a class="navbar-brand" href="#" style="font-weight: 100;">Awantika Mahar</a>
</nav>



<div class="container">
	{% block content %} {% endblock content %}
</div>

<footer>



</footer>


</body>
</html>
